/* RESET RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.background{
  height: 100vh;
  background-image: linear-gradient(to bottom,#009688 15%,#DBDBD2 15%);
}
.wrapper{
  background-color: #fff;
  z-index: 10;
  height: 90%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
}
i{
  cursor: pointer;
}
.w-left{
  width: 35%;
  border: 1px solid black;

}
.w-right{
  width: 65%;
  border: 1px solid black;

}
.w-left-header, .w-right-header{
  background-color: #EAEAEA;
}
.w-left-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w-left-header-user{
  display: flex;
  align-items: center;
}
img {
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}

.w-left-header-options i {
  margin-right: 10px;
  font-size: 22px;
  color: #B1B1B1;
}

.notif{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color:  #8EDAFC;
}

.chat-box{
  width: 95%;
  border: 1px solid #DBDBD2;
  box-shadow: 2px 2px 4px #DBDBD2;
  margin: 3px auto;
  padding: 3px;
}

.notif i {
  color: #8EDAFC;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 28px;
  margin-right: 5px;
}
.chat input{
  width: 90%;
  border: none;
}
.chat i{
  color: #EAEAEA;
}
.w-right{


}
.w-right-header{
  display: flex;
  justify-content: space-between;


}

.w-right-chatter-info{
display: flex;
align-items: center;


}
.w-right-header-options {
  display: flex;
  align-items: center;

}
.w-right-header-options i {
  margin-right: 10px;
  font-size: 22px;
  color: #B1B1B1;
}

.chat-area{
  background-image: url(../img/mine.jpg);
/* height: calc(100% - 70px); */
height: 80%;

}

.chat-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.chat-input input{
  width: 80%;
}
#emoji{
  margin-left: 5%;
}
#micro{
  margin-right: 5%;
}
