/* RESET RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  height: 100vh;
}
.background{
  height: 100%;
  background-image: linear-gradient(to bottom,#009688 15%,#DBDBD2 15% 100%);
}
.wrapper{
  background-color: #fff;
  z-index: 10;
  height: 90%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
}
i{
  cursor: pointer;
}
.w-left{
  width: 35%;
  /* border: 1px solid black; */

}
.w-right{
  width: 65%;
  /* border: 1px solid black; */

}
.w-left-header, .w-right-header{
  background-color: #EAEAEA;
}
.w-left-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #B1B1B1;
}
.w-left-header-user{
  display: flex;
  align-items: center;
}
img {
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}

.w-left-header-options i {
  margin-right: 10px;
  font-size: 22px;
  color: #B1B1B1;

}

.notif{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color:  #8EDAFC;
}
h5{
  color: #B1B1B1;
}
.contacts{
 overflow-y: scroll;
}
.contacts img {

}
.contacts ul li {
  display: flex;
  align-items: center;
}


.chat-box{
  width: 95%;
  box-shadow: 2px 2px 4px #DBDBD2;
  margin: 3px auto;
  padding: 3px;
}

.notif i {
  color: #8EDAFC;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 28px;
  margin-right: 5px;
}
.chat input{
  width: 90%;
  border: none;
  outline: none!important;

}
.chat i{
  color: #EAEAEA;
}
.w-right{


}
.w-right-header{
  display: flex;
  justify-content: space-between;


}

.w-right-chatter-info{
display: flex;
align-items: center;


}
.w-right-header-options {
  display: flex;
  align-items: center;

}
.w-right-header-options i {
  margin-right: 10px;
  font-size: 22px;
  color: #B1B1B1;
}

.chat-area{
  background-image: url(../img/mine.jpg);
  height: calc(100% - 150px);
  overflow-y: scroll;


}

.guest-text, .user-text{
  width: 50%;
}

.chat-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #F3EEEA;
}

.chat-input i {
  color: #6B7376;
  font-size: 22px;
}
.chat-input input{
  width: 80%;
  padding: 15px 3px;
  outline: none!important;
  border-radius: 5px;
  border: none;

}
#emoji{
  margin-left: 5%;
}
#micro{
  margin-right: 5%;
}
.chat-content p{


}
.chat-content small{
display: block;
}

.user{
margin-bottom: 10px;
border-radius: 5px;
margin-left: 60%;
display: block;
/* background-color: #D5F9BA; */


}
.guest{
margin-bottom: 10px;
border-radius: 5px;
margin-left: 15px;
display: block;
/* background-color: #fff; */

}
/* small {
margin-left: 60%;
} */

  /* .u-date{
    background-color: #D5F9BA;
  }
  .g-date{
    background-color: #fff;
  } */
span{

}
